<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/custom.css">
    
    <title>Minha Primeira Página</title>
  </head>
  <body>
    <div class="quad">
        <h1 class="01">Bem-vindo SELOEDU</h1>
        <p class="02">Seu gerenciador de aplicação de treinamentos.</p>
        <p class="03">Faça login para acessar o painel</p>
        <a  href="../login" class="botao" >Entrar</a>
    </div>
  </body>
</html>
